.login-container{
    min-height: calc(100vh - 64px - 100px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.login-form input {
    margin-left: 4px;
}
