@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@value colors: "../../App.css";
@value disabled-gray, active-white, border1 from colors;

.student-db-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: active-white;
}

.ex-container {
    margin: 16px 0;
    display: flex;
}

.selected-btn {

    height: 110px;
    width: 110px;

    font-weight: bold;
    font-size: 16px;
    color: active-white;

    background-color: transparent;

    padding: 4px;
    margin: 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    border: border1 active-white;
    border-radius: 50%;

    cursor: pointer;

}

.unSelected-btn {
    height: 110px;
    width: 110px;

    font-weight: bold;
    font-size: 16px;
    color: disabled-gray;

    background-color: transparent;

    padding: 4px;
    margin: 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    border: border1 disabled-gray;
    border-radius: 50%;

    cursor: pointer;
}

.unSelected-btn:hover {

    color: active-white;
    border: border1 active-white;

}

.play-btn {

    margin: 8px 0;
    background-color: transparent;
    color: active-white;
    border: border1 active-white;
    border-radius: 5px;
    padding: 4px 24px;
    cursor: pointer;
    font-weight: bolder;
}

.play-btn:disabled {

    color: disabled-gray;
    border: border1 disabled-gray;

    cursor: not-allowed;

}


.ex-counter-container {
    height: 100px;
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: border1 active-white;
    border-radius: 50%;

    margin-bottom: 32px;


}


.sum-container {
    border: border1 active-white;
    border-radius: 5px;
    padding: 8px 32px;
    margin-bottom: 32px;
}

.input-container {
    display: flex;
    height: 32px;
    width: 314px;
    justify-content: space-between;
}

.submit-btn {

    color: hsl(237, 49%, 15%);
    background-color: active-white;
    border: none;
    border-radius: 5px;

    font-weight: bold;

}

.msg-box {
    margin-top: 4px;
    height: 16px;
}