@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@value colors: "../../App.css";
@value active-white, border1 from colors;

.auth-container{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*background: radial-Gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));*/
    background: radial-Gradient(hsl(204, 87%, 40%), hsl(192, 84%, 50%));

    height: 100vh;
    width: 100vw;

}

.logout-btn{
    position: absolute;
    bottom: 8px;
    right: 8px;

    background-color: transparent;

    font-family: 'Poppins', sans-serif;
    color:active-white;

    padding: 4px 24px;

    border: border1 active-white;
    border-radius: 5px;

    cursor: pointer;
}

