@value colors: "../../App.css";
@value active-white from colors;

.go-back-arrow{

    position: absolute;
    bottom: 8px;
    left: 8px;

    color: active-white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;

    cursor: pointer;

}

.go-back-arrow span{
    font-size: 24px;
    margin-left: 4px;
}