@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.student-db-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Poppins', sans-serif;

    color: white;
}

.level-btn-container {
    margin-top: 5px;
    margin-bottom: 5px;
}

.level-btn {
    margin: 4px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(244, 97%, 24%);
    padding: 4px 24px;
    border: none;
    border-radius: 5px;

    font-weight: bold;

    box-shadow: hsl(0, 0%, 0%) 1px 1px 2px;
}

.level-btn:hover {
    background-color: hsl(244, 97%, 28%);
    cursor: pointer;
}

.level-btn:active {
    transform: translateY(1px) translateX(1px);
}

.ex-container {
    margin: 16px 0;
    display: flex;
}

.ex-btn {
    height: 110px;
    width: 110px;

    /*Waarom pakt hij deze niet in general?*/
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: white;

    background-color: transparent;

    padding: 4px;
    margin: 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 50%;

    cursor: pointer;

}

.ex-btn:hover {

    color: hsl(5, 0%, 80%);
    border: 2px solid hsl(5, 0%, 80%);

}

.ex-btn:active {

   transform: translateX(2px) translateY(2px);

}

.ex-btn:disabled {

    color: hsl(5, 0%, 50%);
    border: 2px solid hsl(5, 0%, 50%);

}

.play-btn {

    margin: 8px 0;
    background-color: transparent;
    color: hsl(0, 0%, 100%);
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 5px;
    padding: 4px 24px;
    cursor: pointer;
    font-weight: bolder;
}

.play-btn:hover{

    color: hsl(5, 0%, 80%);
    border: 2px solid hsl(5, 0%, 80%);

}


.ex-counter-container {
    height: 100px;
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 50%;

    margin-bottom: 32px;


}


.sum-container {
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 5px;
    padding: 8px 32px;
    margin-bottom: 32px;
}

.input-container {
    display: flex;
    height: 32px;
    width: 314px;
    justify-content: space-between;
}

.submit-btn {

    color: hsl(237, 49%, 15%);
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 5px;

    font-weight: bold;

}

.msg-box {
    margin-top: 4px;
    height: 16px;
}