@value colors: "../../App.css";
@value disabled-gray, active-white, border1 from colors;


.student-db-header{
    color: active-white;
    margin-bottom: 24px;
}
.student-db-container{
    color: active-white;
    display: flex;
}

.student-db-container div {
    margin: 5px;
}

.go-back-arrow{

    position: absolute;
    bottom: 8px;
    left: 8px;

    color: active-white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;

    cursor: pointer;

}

.go-back-arrow span{
    font-size: 24px;
    margin-left: 4px;
}