*{
    margin: 0;
    box-sizing: border-box;
}

#root{
    min-height: 100vh;
    max-width: 100vw;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}