@value colors: "../../App.css";
@value active-white from colors;

.admin-db-btn-container{
    display: flex;
    color: active-white;
}

.admin-form{
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: hsla(0, 100%, 100%, 50%);
    border-radius: 5px;
}

.admin-form h3{
    text-align: center;
}

.admin-form label{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
    flex-direction: column;
}

.admin-form input{
    margin-left: 5px;
}

.first-row{
    display: flex;
}

.second-row{
    display: flex;
}

.first-row h3{
    text-align: center;
}

.first-row div{
    margin: 5px;
}

.second-row div{
    margin: 5px;
}
